:root {
  --background-color: #163b3b;
  --text-color: #e2f4f0;
  --header-footer-color: #092011;
  --text-hover: #ea8c84;
  --search-color: #5d9e7b;
  --ligh-blue-color: #77daf3;
  --color-1: #69a1c2;
  --color-2: #2b5328;
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Gidole", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font);
  text-decoration: none;
  color: var(--text-color);
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 170px;
}

.main-header {
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  background-color: var(--header-footer-color);
  min-height: 120px;
  padding: 16px 32px;
}

.menu {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

.menu a:hover {
  color: var(--ligh-blue-color);
}

.menu ul {
  display: flex;
  gap: 3rem;
}

.logo {
  width: 120px;
}

main {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search {
  --nav-size: 152px;
  display: flex;
  align-items: center;
  border: 2px solid var(--header-footer-color);
  background-color: var(--search-color);
  width: 30%;
  min-width: 300px;
  height: 60px;
  margin: calc(35px + var(--nav-size)) auto 38px;
  padding: 30px 15px 30px 30px;
  border-radius: 50px;
  gap: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.548) 0px 0px 10px 2px; */
}

.search button {
  background-color: var(--header-footer-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
}

#search {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--text-color);
  outline: none;
}

#search::placeholder {
  color: var(--text-color);
}

.hero {
  margin: 0 auto;
  width: 70%;
  border-radius: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 38px;
  background-color: var(--color-2);
}

/* .main-container > * {
  margin-inline: auto;
} */

.main-container h2 {
  font-size: 2rem;
  margin: 30px auto 20px;
  text-align: center;
  text-transform: uppercase;
}

.news-container,
.sale-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-inline: 32px;
  gap: 32px;
  margin: 20px 0;
}

.game-card {
  width: 30%;
  min-height: 360px;
  min-width: 250px;
  box-shadow: rgba(0, 0, 0, 0.315) 0px 0px 15px 2px;
  padding: 15px;
  border-radius: 20px;
}

.game-card:hover {
  box-shadow: var(--ligh-blue-color) 0px 0px 5px 2px;
  background-color: transparent;
}

.game-img {
  width: 100%;
  border-radius: 20px;
}

.game-title {
  font-size: 2rem;
  margin: 8px 0 16px -1px;
}

.game-gender {
  font-size: 1.2rem;

  color: #e2f4f07c;
}

.game-price {
  font-size: 1.2rem;
}

footer {
  background-color: var(--header-footer-color);
  padding: 5% 5%;
  min-height: 300px;
  display: flex;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.footer-menu ul {
  display: grid;
  gap: 0.5rem;
}

.logo-footer {
  --size: 200px;
  height: var(--size);
  width: var(--size);
  object-fit: contain;
}

/* jogo-page */

.jogo-page {
  padding: 120px 32px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.jogo-page > * {
  margin-inline: auto;
}

.jogo-page button {
  background-color: var(--header-footer-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
}

.jogo-page-header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 30px 0 0;
  width: 50%;
}

.jogo-page-header h2 {
  font-size: 2.5rem;
}
.jogo-page-header p {
  font-size: 1.5rem;
}

.container-jogo {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.game-img-page {
  max-height: 375px;
  max-width: 100%;
  object-fit: contain;
  flex-grow: 2;
  border-radius: 20px;
}

.game-info-page {
  width: 33%;
  min-width: 300px;
  font-size: 1.3rem;
}

.game-info-page .game-info-page-desc {
  display: flex;
  justify-content: right;
  flex-direction: column;
  margin: 0 0 30px;
}

.topics {
  display: flex;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.topics dt {
  font-weight: bold;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  gap: 30px;
}

button:hover {
  color: var(--ligh-blue-color);
}

/* Fim jogo-page */
