:root {
    --background-color: #163b3b;
    --text-color: #e2f4f0;
    --header-footer-color: #092011;
    --text-hover: #ea8c84;
    --search-color: #5d9e7b;
    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'Gidole', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--secondary-font);
    text-decoration: none;
    color: var(--text-color);
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-footer-color);
    height: 120px;
    width: 100%;
    padding: 0 5%;
    position: fixed;
}

.menu {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

.menu a:hover {
    color: var(--text-hover);
}

.menu ul{
    display: flex;
    gap: 3rem;
}

.logo {
    position: absolute;
    left: 120px;
    width: 120px;
}

main {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0 150px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.search {
    display: flex;
    /* justify-content: center ; */
    align-items: center;
    color: #ea8c84;
    border: 2px solid var(--header-footer-color);
    background-color: var(--search-color);
    width: 30%;
    margin: 35px auto;
    padding: 10px;
    border-radius: 20px;
    gap: 15px;
}

#search {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--text-color);
    outline: none;
}

#search::placeholder {
    color: var(--text-color);
}

.search label{
    /* height: 1.2rem; */
}


.hero{
    margin: 0 auto;
    width: 85%;
    border-radius: 20px;
}

/* /* display: flex; */